.App {
  color: white;
}
.background{
  height: 24rem;
  border: 0.1rem solid #000; /* Параметры рамки */
  background: url(./pictures/BackgroundDesktop.jpg) 100% 100% no-repeat; /* Добавляем фон */
  background-size: cover; /* Масштабируем фон */
}
.container-fluid>div{
  color: white;
}
#navbarSupportedContent{
  margin-left: 8rem;
  margin-bottom: 1rem;
}
.nav-links{
  color: white;
  margin-left: 5rem;
  margin-top: 2rem;
  font-weight: 600;
}
.nav-links:hover{
  color: brown;

}
.nav-links-mid-menu{
  color: grey;
  margin-left: 5rem;
  margin-top: 2rem;
  font-weight: 600;
}
.menuToggle{
  color: white;
}
.slimFont{
  color: white;
}
.jasonMan{
  width: 20rem;
}
p{
  color: grey;
}


