.App {
  text-align: center;
  color: white;
}
.container-fluid{
  border: 0.1rem solid #000; /* Параметры рамки */
  background: url(./pictures/BackgroundDesktop.jpg) 100% 100% no-repeat; /* Добавляем фон */
  background-size: cover; /* Масштабируем фон */
}
.container-fluid>div{
  color: white;
}
#navbarSupportedContent{
  margin-left: 8rem;
  margin-bottom: 1rem;
}
.nav-links{
  color: white;
  margin-left: 5rem;
  margin-top: 2rem;
  font-weight: 600;
}
.nav-links:hover{
  color: brown;

}
.menuToggle{
  color: white;
}

