
/*SELECTORS*/
p{
  color: black;
  font-size: 0.8rem;
}
h1, h2, h4{
  color: black;
  font-weight: 400;
}


/*ID*/
#navbarSupportedContent{
  margin-left: 2rem;
  margin-bottom: 1rem;
}


/*CLASSES*/
.App {
  color: white;
}
.background{
  border: 0.1rem solid #000; /* Параметры рамки */
  background: url(./pictures/BackgroundDesktop.jpg) 100% 100% no-repeat; /* Добавляем фон */
  background-size: cover; /* Масштабируем фон */
  height: 24rem;
  width: 100%;
}
.blackText{
  color: black;
}
.card{
  border-color: white;
}
.container-fluid>div{
  color: white;
}
.greyColorText{
  color: grey;
}
.jasonMan{
  height: 100%;
  width: 100%;
}
.menuToggle{
  color: white;
}
.nav-links{
  color: white;
  font-weight: 600;
  margin-left: 5rem;
  margin-top: 2rem;
}
.nav-links:hover{
  color: brown;

}
.nav-links-mid-menu{
  color: grey;
  font-weight: 600;
  margin-left: 8rem;
  margin-top: 2rem;
}
.slimFont{
  color: white;
}
.scrollDown{
  margin-top: 14rem;
}